@media screen and (min-width: 20em) {
  .logo {
    width: 80%;
    padding: 20px;
    margin: auto;
  }

  .logo_container {
    display: inline-block;
    margin:auto;
    color: rgb(244, 144, 153);
    font-size: 17px;
    width:100%;
  }

  @mixin letter-animation {
    animation-duration: 6s;
    animation-iteration-count: infinite;
    animation-delay: 2s;
    font-weight: bold;
  }

  .down {
    @include letter-animation;
    animation-name: down;
    transform: rotate(-14deg) translateX(-15px);
  }

  .home {
    @include letter-animation;
    animation-name: home;
    transform: translateY(-10px);
  }


  .good {
    @include letter-animation;
    animation-name: good;
    transform: rotate(10.5deg) translateX(-15px) translateY(-20px);
  }


  @keyframes down {
    0% {color: transparent}
    25% {color: rgb(244, 144, 153);}
    100% {color: rgb(244, 144, 153);}
  }

  @keyframes home {
    0% {color: transparent}
    25% {color: transparent}
    50% {color: rgb(244, 144, 153);}
    100% {color: rgb(244, 144, 153);}
  }

  @keyframes good {
    0% {color: transparent}
    50% {color: transparent}
    75% {color: rgb(244, 144, 153);}
    100% {color: rgb(244, 144, 153);}
  }

  .block_container{
    display:inline-block;
    transform: translateX(-20px);
  }

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em;
    padding: 0;
  }

  .bakery {
    font-family: Aileron, Verdana, Geneva, sans-serif;
    font-weight: bold;
    font-size: 1em;
    letter-spacing: 0.5em;
  }


}

@media screen and (min-width: 36em) {
  .logo_container {
    display: inline-block;
    margin:auto;
    color: rgb(244, 144, 153);
    font-size: 17px;
    width:100%;

  }

  .block_container {
   float:right;
   transform: translate(-4em,4em);
  }
}

@media screen and (min-width: 48em) {
  .block_container {
    float:right;
    transform: translate(2.2em,-1em);
  }

  .bakery{
    font-size:14px;
    letter-spacing:0.2em;
  }
  .logo {
    width: 100%;
    padding:10px;
    margin: auto;
    margin-top:0em;
    margin-bottom:-7em;
    margin-left:-1em;

  }
}

