<ngb-carousel>
  <ng-template ngbSlide>
    <figure>
    <img [src]=pecanImg alt="Random first slide">
    <div class="carousel-caption">
      <figcaption>
      <strong>Who else is on a diet of cupcakes?</strong><br/>
      <br/>
      <em>Photo by Emilio Esguerra</em>

      </figcaption>
    </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
    <img [src]=bbqBurgerImg alt="Random second slide">
    <div class="carousel-caption">
      <strong>Who else is on a diet of cupcakes?</strong><br/>
      <br/>
      <em>Photo by Emilio Esguerra</em>
    </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
    <img [src]=banofeeImg alt="Random third slide">
    <div class="carousel-caption">
      <strong>Who else is on a diet of cupcakes?</strong><br/>
      <br/>
      <em>Photo by Emilio Esguerra</em>
    </div>
    </figure>
  </ng-template>
</ngb-carousel>
