<ngb-carousel >
  <ng-template ngbSlide>
    <figure>
    <img [src]="pecanImg" alt="Pecan Cupcake" class="img-fluid d-block w-100">
    <div class="carousel-caption">
      <figcaption>
      <p>Who else is on a diet of cupcakes?</p>
      <em>Photo by Emilio Esguerra</em>
      </figcaption>
    </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
    <img [src]="bbqBurgerImg" alt="BBQ Burger" class="img-fluid d-block w-100">
    <div class="carousel-caption">
      <p>Go big this long weekend and start if off with a juicy Bacon BBQ Burger! Served with a side of potato chips </p>
      <em>Photo by Emilio Esguerra</em>
    </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
    <img [src]="banofeeImg" alt="Banoffee Pie" class="img-fluid d-block w-100">
    <div class="carousel-caption">
      <figcaption>
      <p>Always say yes to banoffee pie.</p>
      <em>Photo by  @utterlyrandomfoodie</em>
      </figcaption>
    </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
  <figure>
    <img [src]="bbqBeefBellyImg" alt="BBQ Beef Belly" class="img-fluid d-block w-100">
    <div class="carousel-caption">
      <figcaption>
        <p>Sweet and smoky, our tender BBQ Beef Belly is the perfect way to celebrate the end of May. Come and get it!</p>
        <em>Photo by Emilio Esguerra</em>
      </figcaption>
    </div>
  </figure>
</ng-template>
 <ng-template ngbSlide>
    <figure>
      <img [src]="beefTapaImg" alt="Beef Tapa" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>Our one-of-a-kind US Beef Tapa has everything you're looking for in a tapa– sweet, savory, and perfectly crispy!</p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="cakeImg" alt="Cake" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>A bouquet of flowers for mom on #mothersday is great but flowers on a cake make an even better gift!</p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="cinnamonBunsImg" alt="Cinnamon Buns" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>Warning: Our sweet mini cinnamon buns are a bit addictive.</p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="grilledMixedSausageImg" alt="Grilled Mixed Sausage" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>Bite into the goodness of our Grilled Mixed Sausage, served with a side of Chicken Potato Salad. Happy weekend!</p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="sausageEggSandwichImg" alt="Sausage and Egg Sandwich" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>We miss the sun, too! Come escape the rain and wet weather and find sunshine in our Breakfast Sausage & Egg Sandwich. </p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="shepherdPieImg" alt="Shepherd Pie" class="img-fluid d-block w-100">
      <div class="carousel-caption">
        <figcaption>
          <p>Our savory Shepherd Pie is just as comforting as our sweet pies.</p>
          <em>Photo by Emilio Esguerra</em>
        </figcaption>
      </div>
    </figure>
  </ng-template>
</ngb-carousel>


