<div class="text_container">
  <h2 class="">Call us for delivery</h2>
  <div class="address">
    <address>
      <strong>FRDC Building</strong>  <br/>
      106 E. Rodriguez Ave, Pasig City <br/>
      <a href="tel:29140833">914-0833</a> /<a href="tel:25711541">571-1541</a>
    </address>

    <address>
      <strong>Tropical Palms Condominium</strong><br/>
      Legaspi Village, Makati City <br/>
      <a href="tel:28404299">840-4299</a>/<a href="tel:28943598">894-3598</a>
    </address>

    <address>
      <strong>2/F O Square Building</strong><br/>
      Greenhills Shopping Center, San Juan City<br/>
      <a href="tel:+639215737710">0921-5737710</a>
    </address>

    <address>
      <strong>South Triangle, Quezon City</strong><br/>
      (Across ABS-CBN)<br/>
      <a href="tel:23323080">332-3080</a>/<a href="tel:23323579">332-3579</a>
    </address>

  </div>
</div>

