<ngb-carousel>
  <ng-template ngbSlide>
    <figure>
      <img [src]="menu1Img" alt="Menu page one" class="img-fluid">
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="menu2Img" alt="Menu page two" class="img-fluid">
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="menu3Img" alt="Menu page three" class="img-fluid">
    </figure>
  </ng-template>
  <ng-template ngbSlide>
    <figure>
      <img [src]="menu4Img" alt="Menu page four" class="img-fluid">
    </figure>
  </ng-template>
</ngb-carousel>
