<div class="announcements">
  <img class="breakfast_img img-center img-fluid" [src]="breakfastImg">
  <div class="text_container">

    <hr/>
    <h3 class="update_header">Updates</h3>

      <div class="update_sec d-inline-block">
        <img id="" class="an_image border_white img-fluid" [src]="greenhillsImg">
        <p class="an_text">See photos of our new branch in Greenhills</p>
      </div>

      <div class="update_sec d-inline-block">
        <br/>
        <img id="birthday" class="an_image border_white img-fluid" [src]="birthdayImg">
        <p class="an_text">
          Want to have your party
          at Mom & Tina's? View our
          function room rates and
          buffet menus.</p>
      </div>
   </div>

</div>
