<div class="announcements">
  <img class="breakfast_img img-center img-fluid" [src]="breakfastImg">
  <div class="text_container">
    <hr/>
    <h3>Updates</h3>
    <div class="update_sec">
      <p>
        <img align="left" id="greenhills" class=" border_white img-fluid" [src]="greenhillsImg">
        See photos of our new branch in Greenhills</p>
    </div>
    <div class="update_sec">
      <br/>
      <p>
        <img align="left" id="birthday" class="border_white img-fluid" [src]="birthdayImg">
        Want to have your party <br/>
        at Mom & Tina's? View our <br/>
        function room rates and <br/>
        buffet menus.</p>
    </div>
  </div>
</div>
