/* Extra small devices (smart phones, less than 34em)  */
* {
  color:white;
}

@media screen and (min-width: 20em) {

  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em;
    padding: 0;

  }

  .carousel {
    width:90%;
    margin:0;
    justify-content: center;
    align-items: center;
    padding:1em;
    margin-left:1em;
    margin-top:1em;
  }

  .menu-carousel {
    width:100%;
    margin:0;
    justify-content: center;
    align-items: center;
    padding:1em;
    margin-left:1em;
    margin-top:1em;
  }

  .contact-us {
    width:80%;
    margin:auto;
    height:100%;
  }

  ::ng-deep ul.nav-pills {
    background-image: url("../../assets/images/red_strip.png") !important;
  }

  ::ng-deep .nav-link {
    color: white;
    font-family:Aileron, Verdana, Geneva, sans-serif;
    font-weight: 300;
  }

  ::ng-deep .nav-link.active {
    border-radius: 25px !important;
    background-color: transparent !important;
    background-image: url("../../assets/images/active_button.png");
  }

  ::ng-deep a.nav-link:hover {
    border-radius: 25px !important;
    background-color: transparent !important;
    background-image: url("../../assets/images/hover_button.png");
    color: white;
  }
}

@media screen and (min-width: 36em) {
  .carousel {
    width:100%;
  }
}

@media screen and (min-width: 48em) {
  .carousel {
    padding:1.5em;
    margin-left:1.5em;
  }
  .header-container{
    /*margin-left:-20px;*/
    widtH:30%;
  }

  .contact-us{
    margin-right:1em;
  }

  .menu-carousel {
  padding:0.5em;
  margin-left:1.5em;
  }

  .about-us{
    position:relative;
    margin-left:1.5em;
  }
}

/* Small devices (phones, tablets less than 48em)
@media (min-width: 30.em) {
// write CSS properties here
}

// Medium devices (tablets, small laptops less than 62em)
@media (max-width: 61.9em) {
// write CSS properties here
}

// Large devices (desktops, screens less than 75em)
@media (max-width: 74.9em) {
// write CSS properties here
}

*/
